<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="Contest-Sustainability.ZPM">
    <Module>
      <Name>Contest-Sustainability</Name>
      <Description>Pre-trained models for the win</Description>
      <Version>0.0.3</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>pex-embbeded-python</Name>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Ens.Config.DefaultSettings.ESD"/>
      <Resource Name="TestLookupTable.LUT"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
